.experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experiences ul {
    list-style: none;
    padding: 0;
}

.exp2 .experience {
    flex-direction: row-reverse;
}