.header {
    width: 350px;
    max-width: 75%;
    text-align: center;
    margin: 16px auto;
}

.header img {
    width: 60px;
    margin-bottom: 0px;
}

.header h2 {
    margin: 0;
}

.header p {
    margin: 0;
}