#interest {
    max-width: 1200px;
    display: flex;
    align-items: center;
}

#interest img {
    height: 40vw;
    max-height: 250px;
}

#interest h3,
.skills {
    margin: 0;
}

@media screen and (min-width: 960px) {
    #interest:nth-child(even){
        flex-direction: row-reverse;
        text-align: right;
    }

    #interest .icon, #interest .description {
        width: 50%;
        margin: 0 70px;
    }

    #interest:nth-of-type(odd) img {
        float: right;
    }
    
    #interest:nth-of-type(even) img {
        float: left;
    }
}

@media screen and (max-width: 959px) {
    #interest {   
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }

    #interest .icon {
        margin-bottom: 16px;
    }

    #interest .icon, #interest .description {
        /* margin: 0 5%; */
    }

}
