#interest {
    margin-bottom: 16px;
}

#interest h4 {
    font-size: 16px;
    margin: 0;
}

#interest p {
    margin: 0;
}

@media (max-width: 1176px) {
    #interest {
        text-align: center;
    }
}