.cards{
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards .project {
    margin: 16px;
}
