#banner {
    height: 700px;
    position: relative;
}

#banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    /* background-color: silver; */

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


/* ===========================================
Picture Side
============================================== */
#picture-side {
    /* background-color: gray; */
    margin-right: 3%;
}

#picture-side img {
    width: 94%;
    max-width: 550px;
}


/* ===========================================
Text Side
============================================== */
#text-side {
    max-width: 500px;
    margin-left: 3%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    /* background-color: gray */
}

#text-side h2 {
    font-weight: 600;
    color: #2C50C7;
    /* margin: 0; */
}

#text-side h2 span {
    color: #5F5F5F;
}

#text-side p {
    font-weight: 300;
    margin: 0;
}

/* ===========================================
Media Querries
============================================== */
@media (max-width: 959px){
    #banner-content {
        flex-direction: column-reverse;
        text-align: center;
    }

    #picture-side {
        margin: 48px auto 0 auto;
    }

    #picture-side img {
        width: 80%;
        max-width: 550px;
    }

    #text-side {
        width: 80%;
        align-self: center;
        margin: 0 auto 48px auto;
    }
}

@media (max-width: 959px) {
    #banner-content {
        position: absolute;
        bottom: -10vh;
        left: 0;
        right: 0;
    }
}


/* @media (max-width: 609px) {
    #banner-content {
        position: absolute;
        bottom: -12.5vw;
        left: 0;
        right: 0;
    }
}

@media (min-width: 610px) and (max-width: 3320px) {
    #banner-content {
        position: absolute;
        bottom: calc(-14vw + 22%);
        left: 0;
        right: 0;
    }
} */