#interests {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#interests > * {
    margin-bottom: 32px;
}

@media (max-width: 959px){
    #interests > * {
        margin-bottom: 80px;
    }
}