/* ====================================
TOP
======================================= */

#contact {
    grid-area: contact;
}

#menu {
    grid-area: menu;
    margin: 0 auto;
}

#academic {
    grid-area: academic;
}

#top {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "contact menu academic";
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

#top img {
    height: 30px;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#top #academic {
    text-align: right;
}

/* ====================================
DIVIDER
======================================= */

#footer hr {
    width: 80%;
    max-width: 1200px;
}


/* ====================================
BOTTOM
======================================= */

#bottom {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#bottom i {
    color: red;
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
    0% {transform: scale(1);}
    20% {transform: scale(1.1)} 
    40% {ransform: scale(1.2)}
}


/* ====================================
MEDIA QUERRIES
======================================= */

@media (max-width: 999px) {
    #top {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "contact . menu"
        "academic academic academic";
    }

    #academic p {
        text-align: center;
    }
}

@media (max-width: 449px) {
    #top {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "contact"
        "menu"
        "academic";
        text-align: center;
    }

    #menu {
        text-align: center;
    }

    #academic p {
        text-align: center;
    }

}

@media (max-width: 650px) {
    #bottom {
        flex-direction: column;
        text-align: center;
    }
}
