#navbar {
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

#navbar img {
    height: 36px;
}

@media (min-width: 960px) {
    #navMobile {
        display: none;
    }
}

@media (max-width: 959px) {
    #navbar {
        display: none;
    }
}


