#subsectionButtons {
    text-align: center;
    margin: 32px auto 64px;
}

#subsectionButtons button {
    width: 250px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    /* background-color: rgb(245, 245, 255); */
    border: none;
    outline: none;

    border-bottom: 1px solid red;
}

#subsectionButtons button:focus {
    border-bottom: 3px solid #000000;
}

@media (max-width: 959px){
    #subsectionButtons button {
        width: 40%;
        max-width: 250px;
        height: 55px;
        font-size: 16px;
        font-weight: 600;
        background-color: transparent;
        /* background-color: rgb(245, 245, 255); */
        border: none;
        outline: none;
    
        border-bottom: 1px solid red;
    }
}